<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Razorpay Payment</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>

<h2>Complete Payment</h2>
<button id="payBtn">Pay Now</button>

<script th:inline="javascript">

    var options = {
        "key": [[${key}]],
        "amount": [[${amount}]],
        "currency": "INR",
        "name": "Alumni Job Payment",
        "description": "Job Payment",
        "order_id": [[${orderId}]],

        "handler": function (response) {

            fetch("/api/v1/alumni/jobs/payment/verify", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    razorpay_order_id: response.razorpay_order_id,
                    razorpay_payment_id: response.razorpay_payment_id,
                    razorpay_signature: response.razorpay_signature
                })
            })
            .then(res => res.text())
            .then(data => {
                alert("Payment Verified Successfully!");
                window.location.reload();
            });
        }
    };

    document.getElementById("payBtn").onclick = function () {
        var rzp = new Razorpay(options);
        rzp.open();
    };

</script>

</body>
</html>